{% extends "base.html" %}

{% block content %}
{% include 'fragments/error-box.html' %}

<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-header">
                Game: {{game_data.course.name}}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="fw-bold">Course:</div>
                    <div class="ps-3">{{game_data.course.name}}</div>
                </div>
                <div class="mb-3">
                    <div class="fw-bold">Status:</div>
                    <div class="ps-3">{{game_data.get_status_display}}</div>
                </div>
                <div class="mb-3">
                    <div class="fw-bold">Date Played:</div>
                    <div class="ps-3">{{game_data.date_played}}</div>
                </div>
                <div class="mb-3">
                    <div class="fw-bold">League Game:</div>
                    <div class="ps-3">{{game_data.league_game}}</div>
                </div>
                
                <hr />
                <div class="mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player_name, player_score in player_scores.items %}
                            <tr>
                                <td>{{player_name}}</td>
                                <td>{{player_score}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{% url 'home:download-scorecard' game_data.id %}">Download Scorecard</a>
                </div>
            </div>
            {% if game_data.status == "setup" %}
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-player-modal">
                        Add Player
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#start-game-modal">
                        Start Game
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#toggle-league-game-modal">Toggle League Status</button>
                </div>
            {% elif game_data.status == "active" %}
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#toggle-league-game-modal">Toggle League Status</button>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#complete-game-modal">
                        Complete Game
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    {% if game_data.status != "setup" %}
    <div class="col-12 mb-3">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <span class="pt-1">Scores: Hole {{current_hole.order}}</span>
                {% if game_data.status == "active" %}
                    <button class="btn btn-outline-primary btn-sm" id="save-hole-scores">Save</button>
                {% endif %}
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody class="align-middle">
                    {% for hole in hole_scores %}
                        <tr>
                            <td>{{hole.player}}</td>
                            {% if game_data.status == "active" %}
                                <td><input type="number" min-value=1, max-value=8 class="form-control hole-score" size=1 value="{{hole.score}}" data-hole-score-id="{{hole.hole_score_id}}" /></td>
                            {% else %}
                                <td>{{hole.score}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between">
                {% if prev_hole %}
                    <a href="{% url 'home:game-detail' game_data.id %}?hole={{prev_hole.order}}" class="btn btn-primary btn-sm">Prev Hole</a>
                {% else %}
                    <button class="btn btn-primary btn-sm disabled">Prev Hole</button>
                {% endif %}
                <select class="form-select mx-2" id="hole-jump">
                    {% for hole in hole_list %}
                        {% if hole.order == current_hole.order %}
                            <option value="{{hole.order}}" selected>{{hole.name}}</option>
                        {% else %}
                            <option value="{{hole.order}}">{{hole.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if next_hole %}
                    <a href="{% url 'home:game-detail' game_data.id %}?hole={{next_hole.order}}" class="btn btn-primary btn-sm">Next Hole</a>
                {% else %}
                    <button class="btn btn-primary btn-sm disabled">Next Hole</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-player-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="player-select">
                    <option value="none">Select a player...</option>
                    {% for player in available_players %}
                        <option value="{{player.id}}">{{player.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-player-button">Add Player</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start-game-modal" tabindex="-1" aria-labelledby="start-game-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-modal-label">Confirm Start Game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to start the game?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm-start-game-button">Start Game</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="complete-game-modal" tabindex="-1" aria-labelledby="complete-game-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="complete-game-modal-label">Complete Game?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to mark this game as completed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm-mark-game-completed-button">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="toggle-league-game-modal" tabindex="-1" aria-labelledby="toggle-league-game-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="toggle-league-game-modal-label">Change League Game Status?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if game_data.league_game %}
                    <p>Are you sure you want to mark this as a normal game?</p>
                {% else %}
                    <p>Are you sure you want to mark this as a league game?</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="toggle-league-game-status-button">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    const scoreUrl = "{% url 'home:ajax-record-hole-score' %}";
    const addPlayerUrl = "{% url 'home:ajax-add-player-to-game' %}";
    const manageGameUrl = "{% url 'home:ajax-manage-game' %}";
    const csrfToken = "{{csrf_token}}";
    const gameId = "{{game_data.id}}";
    const baseHoleUrl = "{% url 'home:game-detail' game_data.id %}?hole="

    document.getElementById("save-hole-scores")?.addEventListener("click", async (event) => {
        const data = {"scores": [], "game_id": gameId};
        document.querySelectorAll(".hole-score").forEach((el) => {
            const holeScore = {
                "score_id": el.dataset.holeScoreId,
                "score": el.value
            }
            data.scores.push(holeScore);
        });

        const response = await fetch(scoreUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();

        Toastify({
            text: "Scores Saved",
            duration: 2000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
        }).showToast();
    });

    document.getElementById("add-player-button").addEventListener("click", async () => {
        const data = {
            "game_id": gameId,
            "player_id": document.getElementById("player-select").value
        };

        const response = await fetch(addPlayerUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();
        if (jsonData.status == "success") {
            window.location.reload(true);
        } else {
            showError("error-message-wrapper", jsonData.message);
        }
    });

    document.getElementById("confirm-start-game-button").addEventListener("click", async (event) => {
        const data = {
            "action": "start-game",
            "game_id": gameId
        };

        const response = await fetch(manageGameUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();
        if (jsonData.status == "success") {
            window.location.reload(true);
        } else {
            showError("error-message-wrapper", jsonData.message);
        }
    });

    document.getElementById("confirm-mark-game-completed-button").addEventListener("click", async (event) => {
        console.log("clicked");

        const data = {
            "game_id": gameId,
            "action": "complete-game"
        }

        const response = await fetch(manageGameUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();
        if (jsonData.status == "success") {
            window.location.reload(true);
        } else {
            showError("error-message-wrapper", jsonData.message);
        }
    });

    document.getElementById("toggle-league-game-status-button").addEventListener("click", async () => {
        const data = {
            game_id: gameId,
            action: "toggle-league-game",
        }
        try {
            const response = await fetch(manageGameUrl, {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            if (!response.ok) {
                throw new Error("Error sending request");
                return;
            }
            const jsonData = await response.json();

            if (jsonData.status === "success") {
                return window.location.reload(true);
            }
        } catch(e) {
            showError("error-message-wrapper", "Error: ", e.message);
        }
    });

    document.getElementById("hole-jump").addEventListener("change", (event) => {
        const newHole = event.target.value;
        window.location.href = baseHoleUrl + newHole;
    });
</script>
{% endblock %}
