{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Home</h1>
        {% if request.user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                    Active Games
                </div>
                <div class="card-body">
                    {% if game_list %}
                        <ul class="list-group">
                        {% for game in game_list %}
                            <li class="list-group-item"><a class="text-decoration-none text-black" href="#">{{game.course}}: {{game.date_played}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p class="card-text">You do not have any active games</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">View My Games</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
